<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supercluster.name %>
</p>

<%= link_to 'Edit', edit_supercluster_path(@supercluster) %> |
<%= link_to 'Back', superclusters_path %>
